html, body {
  height: 100%;
}

#mynetwork {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
}

#mytimeline {
  width: 100%;
}

#nodeSize {
  width: 100%;
}

.nodeColor {
  width: 50px;
  border-radius: .25rem;
}

left {
  position: absolute;
  top: 0px;
  width: 70%;
  height: 85%;
  padding: 20px;
}

right {
  position: absolute;
  top: 0px;
  left: 70%;
  width: 30%;
  height: 100%;
  padding: 20px;
}

.row {
  margin-top: 0.4rem;
}

#loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:not([disabled]):checked + .slider {
  background-color: #28a745;
}

input:focus + .slider {
  box-shadow: 0 0 1px #28a745;
}


input:checked + .slider:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}

/* Background writing */
.slider-on
{
  display: none;
}

.slider-on, .slider-off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 11px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .slider-on {
  display: block;
}

input:checked + .slider .slider-off {
  display: none;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.show>.btn-secondary.dropdown-toggle.noBoxShadow:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}

.btn-secondary.dropdown-toggle.noBoxShadow:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}
