html, body {
  height: 100%;
}

#mynetwork {
  width: 100%;
  height: 50%;
  border: 1px solid lightgray;
}

#mytimeline {
  width: 100%;
}

#nodeSize {
  width: 100%;
}

.nodeColor {
  width: 50px;
  border-radius: .25rem;
}

bodyHead {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 10px 15px;
  font-size: 30px;
}

left {
  position: absolute;
  top: 50px;
  width: 70%;
  height: 80%;
  padding: 20px;
}

right {
  position: absolute;
  top: 50px;
  left: 70%;
  width: 30%;
  height: 80%;
  padding: 20px;
}

.row {
  margin-top: 0.4rem;
}
